
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
}


header {
    justify-content: flex-start;
    align-items: center;
    padding: 10px 40px;
    background-color: #000;
    gap: 40;
}

.navbar-brand {
    padding-top: 5px;
    padding-bottom: 5px; 
  }

.navbar-inverse{
    background-color: #000;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
}

.container-fluid img{
    width: 80px;
}

.dropdown{
    position: relative;
    cursor: pointer;
}

.dropdown-menu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #2e2626;
    list-style: none;
    padding: 10px;
    min-width: 150px;
    z-index: 100;
}

.dropdown-menu li a{
    color: #ffffff;
}

.dropdown:hover .dropdown-menu{
    display: block;
}


.main img{
    width: 100%;
    height: 600px;
    background-size: cover;
}


section {
    padding: 60px 20px;
    text-align: center;
}

.menu-items {
    margin-top: 30px;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
}


.item {
    background-color: #222;
    padding: 20px;
    width: 250px;       
    height: 400px;      
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.item img {
    width: 100%;
    height: 180px;      
    object-fit: cover;  
    border-radius: 5px;
}

/* Responsive Image */
@media screen and (max-width: 768px) {
    .item {
        width: 90%;     
        height: auto;   
        max-width: 350px;
    }
}
.price {
    color: gold;
    font-weight: bold;
    font-size: 15px;
}


/* footer */
.contact input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 250px;
}

.contact button {
    padding: 10px 20px;
    background-color: gold;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.footer {
    background-color: #0b1220;
    color: #ffffff;
    padding: 50px 20px;
    text-align: center;
     justify-content: center;
}


.footer-features {
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
}

.feature i {
    font-size: 28px;
    margin-bottom: 10px;
}

.feature p {
    font-size: 14px;
}

.footer-quote {
    font-size: 24px;
    letter-spacing: 0.5px;
}


.footer-social {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 30px;
}

.footer-social a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
}

.footer-social i {
    margin-right: 20px;
}

.footer hr {
    border: none;
    height: 1px;
    background-color: #2a3145;
    margin: 10px;
}

.footer-contact {
    font-size: 14px;
}

.footer-contact i{
    color: white;
}

.footer-contact a{
    font-size: 14px;
    color: white;
}

/* Gallery Images */
.gallery-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    padding: 20px;
}

.gallery-images img {
    width: 100%;
    height: 200px;
    object-fit: cover; 
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.gallery-images img:hover {
    transform: scale(1.05); 
}

.photoes {
    text-align: center;
}

/* Interior Images */
.interior-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    padding: 20px;
}

.interior-images img {
    width: 100%;
    height: 200px;
    object-fit: cover; 
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.interior-images img:hover {
    transform: scale(1.05); 
}


/* chef Images */
.chef-image img {
    width: 30%;
    height: 300px;
    object-fit: cover; 
}

/* Font for about.html */
.interior p, .chef p, .story p{
    font-size: 20px;
}